html {
    background-color: #CFD0CF;
}

.main-header {
    text-align: center;
    line-height: 47px;
    font: 42px 'Arial', sans-serif;
    padding-top: 40px;
    color: #434344;
    margin-bottom: 40px;

}

 ul {
    display: block;
    width: 650px;
    margin: 0 auto; 
 
    overflow: visible;
   perspective: 600px;
  
}


ul:after {
    content: '';
    clear: both;
    display: table;
  

}


input {
    display: none;
}

ul {
  list-style: none;
}

ul::after {
  content: '';
  clear: both;
  display: table;
}

li {
  height: 130px;
  width: 130px;
  perspective: 600px;
  position: relative;
  margin: 0 25px 25px 0;
  float: left;
}

.card-front {
  background: linear-gradient(45deg, rgba(34, 171, 147, 1) 0%, rgba(25, 102, 141, 1) 100%);
}

.card-back {
  font-size: 75px;
  text-align: center;
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  backface-visibility: hidden;
  position: absolute;
  border: 5px solid white;
  width: 130px;
  height: 130px;
  display: block;
  box-sizing: border-box;
  border-radius: 9px;
  box-shadow: 1px 1px 5px rgba(122, 122, 122, 0.5);
  transition-property: transform;
  transition-duration: 2s;
}

input {
  display: none;
}

input:checked~.card-front {
  perspective-origin: bottom;
  transform: rotateY(180deg);
}

input:checked~.card-back {
  transform: rotateY(360deg);
}
